.postSection {
  padding: 0.3rem 0.5rem;
  color: rgb(250 250 250 / 0.85);
}

.postSection p {
  color: rgb(250 250 250 / 0.5);
  margin-top: -1rem;
}

@media only screen and (min-width: 770px) {
  .postSection {
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  .postSection:hover {
    background-color: #2a2a2f;
  }
}
