.cardChild {
  margin: 0.25rem;
  padding: 0;
  border-radius: 0.2rem;
  color: #000;
  padding: 0.6rem 0.6rem 0 0.6rem;
}

.cardChild p {
  color: #3b3b3bc4;
  margin: 0;
  font-weight: 400;
  opacity: 0.8;
  padding: 0.6rem 0 0.8rem 0;
  line-height: 1.25rem;
  font-size: 0.875rem;
  word-break: break-word;
}

.cardChild:hover {
  background-color: #eeeff0;
}
